<style>
		div{width: 37.5rem;}
		h3{font-size:large;font-weight: 600;text-shadow:gray 3px 0.1875rem;}
		h4{font-weight:600;text-align: left;color: #000000;}
		h6{color: #A9A9A9;font-size:0.0625rem }
		span{color:red;font-size:0.0625rem}
		img{width:9.375rem;height:12.5rem }
		hr{color: darkgrey;}
		p{color: #808080;text-indent: 2em;font-size: small;}
</style>